.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 14px 24px;
  font-size: 17px;
  text-shadow: none;
  text-transform: uppercase;
  line-height: 1.42857143;
  color: #fff;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
