@charset "UTF-8";
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8anitt");
  src: url("../fonts/icomoon.eot?#iefix8anitt") format("embedded-opentype"), url("../fonts/icomoon.woff?8anitt") format("woff"), url("../fonts/icomoon.ttf?8anitt") format("truetype"), url("../fonts/icomoon.svg?8anitt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
  content: "";
}

.icon-classic-computer:before {
  content: "";
}

.icon-controller-fast-backward:before {
  content: "";
}

.icon-creative-commons-attribution:before {
  content: "";
}

.icon-creative-commons-noderivs:before {
  content: "";
}

.icon-creative-commons-noncommercial-eu:before {
  content: "";
}

.icon-creative-commons-noncommercial-us:before {
  content: "";
}

.icon-creative-commons-public-domain:before {
  content: "";
}

.icon-creative-commons-remix:before {
  content: "";
}

.icon-creative-commons-share:before {
  content: "";
}

.icon-creative-commons-sharealike:before {
  content: "";
}

.icon-creative-commons:before {
  content: "";
}

.icon-document-landscape:before {
  content: "";
}

.icon-remove-user:before {
  content: "";
}

.icon-warning:before {
  content: "";
}

.icon-arrow-bold-down:before {
  content: "";
}

.icon-arrow-bold-left:before {
  content: "";
}

.icon-arrow-bold-right:before {
  content: "";
}

.icon-arrow-bold-up:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-long-down:before {
  content: "";
}

.icon-arrow-long-left:before {
  content: "";
}

.icon-arrow-long-right:before {
  content: "";
}

.icon-arrow-long-up:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-up:before {
  content: "";
}

.icon-arrow-with-circle-down:before {
  content: "";
}

.icon-arrow-with-circle-left:before {
  content: "";
}

.icon-arrow-with-circle-right:before {
  content: "";
}

.icon-arrow-with-circle-up:before {
  content: "";
}

.icon-bookmark:before {
  content: "";
}

.icon-bookmarks:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-chevron-small-down:before {
  content: "";
}

.icon-chevron-small-left:before {
  content: "";
}

.icon-chevron-small-right:before {
  content: "";
}

.icon-chevron-small-up:before {
  content: "";
}

.icon-chevron-thin-down:before {
  content: "";
}

.icon-chevron-thin-left:before {
  content: "";
}

.icon-chevron-thin-right:before {
  content: "";
}

.icon-chevron-thin-up:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-chevron-with-circle-down:before {
  content: "";
}

.icon-chevron-with-circle-left:before {
  content: "";
}

.icon-chevron-with-circle-right:before {
  content: "";
}

.icon-chevron-with-circle-up:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-controller-fast-forward:before {
  content: "";
}

.icon-controller-jump-to-start:before {
  content: "";
}

.icon-controller-next:before {
  content: "";
}

.icon-controller-paus:before {
  content: "";
}

.icon-controller-play:before {
  content: "";
}

.icon-controller-record:before {
  content: "";
}

.icon-controller-stop:before {
  content: "";
}

.icon-controller-volume:before {
  content: "";
}

.icon-dot-single:before {
  content: "";
}

.icon-dots-three-horizontal:before {
  content: "";
}

.icon-dots-three-vertical:before {
  content: "";
}

.icon-dots-two-horizontal:before {
  content: "";
}

.icon-dots-two-vertical:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-emoji-flirt:before {
  content: "";
}

.icon-flow-branch:before {
  content: "";
}

.icon-flow-cascade:before {
  content: "";
}

.icon-flow-line:before {
  content: "";
}

.icon-flow-parallel:before {
  content: "";
}

.icon-flow-tree:before {
  content: "";
}

.icon-install:before {
  content: "";
}

.icon-layers:before {
  content: "";
}

.icon-open-book:before {
  content: "";
}

.icon-resize-100:before {
  content: "";
}

.icon-resize-full-screen:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-select-arrows:before {
  content: "";
}

.icon-sound-mute:before {
  content: "";
}

.icon-sound:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-triangle-left:before {
  content: "";
}

.icon-triangle-right:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-uninstall:before {
  content: "";
}

.icon-upload-to-cloud:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-add-user:before {
  content: "";
}

.icon-address:before {
  content: "";
}

.icon-adjust:before {
  content: "";
}

.icon-air:before {
  content: "";
}

.icon-aircraft-landing:before {
  content: "";
}

.icon-aircraft-take-off:before {
  content: "";
}

.icon-aircraft:before {
  content: "";
}

.icon-align-bottom:before {
  content: "";
}

.icon-align-horizontal-middle:before {
  content: "";
}

.icon-align-left:before {
  content: "";
}

.icon-align-right:before {
  content: "";
}

.icon-align-top:before {
  content: "";
}

.icon-align-vertical-middle:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-area-graph:before {
  content: "";
}

.icon-attachment:before {
  content: "";
}

.icon-awareness-ribbon:before {
  content: "";
}

.icon-back-in-time:before {
  content: "";
}

.icon-back:before {
  content: "";
}

.icon-bar-graph:before {
  content: "";
}

.icon-battery:before {
  content: "";
}

.icon-beamed-note:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-blackboard:before {
  content: "";
}

.icon-block:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-bowl:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-browser:before {
  content: "";
}

.icon-brush:before {
  content: "";
}

.icon-bucket:before {
  content: "";
}

.icon-cake:before {
  content: "";
}

.icon-calculator:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-ccw:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-circle-with-cross:before {
  content: "";
}

.icon-circle-with-minus:before {
  content: "";
}

.icon-circle-with-plus:before {
  content: "";
}

.icon-circle:before {
  content: "";
}

.icon-circular-graph:before {
  content: "";
}

.icon-clapperboard:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-colours:before {
  content: "";
}

.icon-compass:before {
  content: "";
}

.icon-copy:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-credit:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-cup:before {
  content: "";
}

.icon-cw:before {
  content: "";
}

.icon-cycle:before {
  content: "";
}

.icon-database:before {
  content: "";
}

.icon-dial-pad:before {
  content: "";
}

.icon-direction:before {
  content: "";
}

.icon-document:before {
  content: "";
}

.icon-documents:before {
  content: "";
}

.icon-drink:before {
  content: "";
}

.icon-drive:before {
  content: "";
}

.icon-drop:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-emoji-happy:before {
  content: "";
}

.icon-emoji-neutral:before {
  content: "";
}

.icon-emoji-sad:before {
  content: "";
}

.icon-erase:before {
  content: "";
}

.icon-eraser:before {
  content: "";
}

.icon-export:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-feather:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-flash:before {
  content: "";
}

.icon-flashlight:before {
  content: "";
}

.icon-flat-brush:before {
  content: "";
}

.icon-folder-images:before {
  content: "";
}

.icon-folder-music:before {
  content: "";
}

.icon-folder-video:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-funnel:before {
  content: "";
}

.icon-game-controller:before {
  content: "";
}

.icon-gauge:before {
  content: "";
}

.icon-globe:before {
  content: "";
}

.icon-graduation-cap:before {
  content: "";
}

.icon-grid:before {
  content: "";
}

.icon-hair-cross:before {
  content: "";
}

.icon-hand:before {
  content: "";
}

.icon-heart-outlined:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-help-with-circle:before {
  content: "";
}

.icon-help:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-hour-glass:before {
  content: "";
}

.icon-image-inverted:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-images:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-infinity:before {
  content: "";
}

.icon-info-with-circle:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-key:before {
  content: "";
}

.icon-keyboard:before {
  content: "";
}

.icon-lab-flask:before {
  content: "";
}

.icon-landline:before {
  content: "";
}

.icon-language:before {
  content: "";
}

.icon-laptop:before {
  content: "";
}

.icon-leaf:before {
  content: "";
}

.icon-level-down:before {
  content: "";
}

.icon-level-up:before {
  content: "";
}

.icon-lifebuoy:before {
  content: "";
}

.icon-light-bulb:before {
  content: "";
}

.icon-light-down:before {
  content: "";
}

.icon-light-up:before {
  content: "";
}

.icon-line-graph:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-location-pin:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-lock-open:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-log-out:before {
  content: "";
}

.icon-login:before {
  content: "";
}

.icon-loop:before {
  content: "";
}

.icon-magnet:before {
  content: "";
}

.icon-magnifying-glass:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-man:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-mask:before {
  content: "";
}

.icon-medal:before {
  content: "";
}

.icon-megaphone:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-message:before {
  content: "";
}

.icon-mic:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-modern-mic:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-mouse:before {
  content: "";
}

.icon-music:before {
  content: "";
}

.icon-network:before {
  content: "";
}

.icon-new-message:before {
  content: "";
}

.icon-new:before {
  content: "";
}

.icon-news:before {
  content: "";
}

.icon-note:before {
  content: "";
}

.icon-notification:before {
  content: "";
}

.icon-old-mobile:before {
  content: "";
}

.icon-old-phone:before {
  content: "";
}

.icon-palette:before {
  content: "";
}

.icon-paper-plane:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-pin:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-popup:before {
  content: "";
}

.icon-power-plug:before {
  content: "";
}

.icon-price-ribbon:before {
  content: "";
}

.icon-price-tag:before {
  content: "";
}

.icon-print:before {
  content: "";
}

.icon-progress-empty:before {
  content: "";
}

.icon-progress-full:before {
  content: "";
}

.icon-progress-one:before {
  content: "";
}

.icon-progress-two:before {
  content: "";
}

.icon-publish:before {
  content: "";
}

.icon-quote:before {
  content: "";
}

.icon-radio:before {
  content: "";
}

.icon-reply-all:before {
  content: "";
}

.icon-reply:before {
  content: "";
}

.icon-retweet:before {
  content: "";
}

.icon-rocket:before {
  content: "";
}

.icon-round-brush:before {
  content: "";
}

.icon-rss:before {
  content: "";
}

.icon-ruler:before {
  content: "";
}

.icon-scissors:before {
  content: "";
}

.icon-share-alternitive:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-shareable:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shop:before {
  content: "";
}

.icon-shopping-bag:before {
  content: "";
}

.icon-shopping-basket:before {
  content: "";
}

.icon-shopping-cart:before {
  content: "";
}

.icon-shuffle:before {
  content: "";
}

.icon-signal:before {
  content: "";
}

.icon-sound-mix:before {
  content: "";
}

.icon-sports-club:before {
  content: "";
}

.icon-spreadsheet:before {
  content: "";
}

.icon-squared-cross:before {
  content: "";
}

.icon-squared-minus:before {
  content: "";
}

.icon-squared-plus:before {
  content: "";
}

.icon-star-outlined:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-stopwatch:before {
  content: "";
}

.icon-suitcase:before {
  content: "";
}

.icon-swap:before {
  content: "";
}

.icon-sweden:before {
  content: "";
}

.icon-switch:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-text-document-inverted:before {
  content: "";
}

.icon-text-document:before {
  content: "";
}

.icon-text:before {
  content: "";
}

.icon-thermometer:before {
  content: "";
}

.icon-thumbs-down:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "";
}

.icon-thunder-cloud:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-time-slot:before {
  content: "";
}

.icon-tools:before {
  content: "";
}

.icon-traffic-cone:before {
  content: "";
}

.icon-tree:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-tv:before {
  content: "";
}

.icon-typing:before {
  content: "";
}

.icon-unread:before {
  content: "";
}

.icon-untag:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-v-card:before {
  content: "";
}

.icon-video:before {
  content: "";
}

.icon-vinyl:before {
  content: "";
}

.icon-voicemail:before {
  content: "";
}

.icon-wallet:before {
  content: "";
}

.icon-water:before {
  content: "";
}

.icon-500px-with-circle:before {
  content: "";
}

.icon-500px:before {
  content: "";
}

.icon-basecamp:before {
  content: "";
}

.icon-behance:before {
  content: "";
}

.icon-creative-cloud:before {
  content: "";
}

.icon-dropbox:before {
  content: "";
}

.icon-evernote:before {
  content: "";
}

.icon-flattr:before {
  content: "";
}

.icon-foursquare:before {
  content: "";
}

.icon-google-drive:before {
  content: "";
}

.icon-google-hangouts:before {
  content: "";
}

.icon-grooveshark:before {
  content: "";
}

.icon-icloud:before {
  content: "";
}

.icon-mixi:before {
  content: "";
}

.icon-onedrive:before {
  content: "";
}

.icon-paypal:before {
  content: "";
}

.icon-picasa:before {
  content: "";
}

.icon-qq:before {
  content: "";
}

.icon-rdio-with-circle:before {
  content: "";
}

.icon-renren:before {
  content: "";
}

.icon-scribd:before {
  content: "";
}

.icon-sina-weibo:before {
  content: "";
}

.icon-skype-with-circle:before {
  content: "";
}

.icon-skype:before {
  content: "";
}

.icon-slideshare:before {
  content: "";
}

.icon-smashing:before {
  content: "";
}

.icon-soundcloud:before {
  content: "";
}

.icon-spotify-with-circle:before {
  content: "";
}

.icon-spotify:before {
  content: "";
}

.icon-swarm:before {
  content: "";
}

.icon-vine-with-circle:before {
  content: "";
}

.icon-vine:before {
  content: "";
}

.icon-vk-alternitive:before {
  content: "";
}

.icon-vk-with-circle:before {
  content: "";
}

.icon-vk:before {
  content: "";
}

.icon-xing-with-circle:before {
  content: "";
}

.icon-xing:before {
  content: "";
}

.icon-yelp:before {
  content: "";
}

.icon-dribbble-with-circle:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-facebook-with-circle:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-flickr-with-circle:before {
  content: "";
}

.icon-flickr:before {
  content: "";
}

.icon-github-with-circle:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-google-with-circle:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-instagram-with-circle:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-lastfm-with-circle:before {
  content: "";
}

.icon-lastfm:before {
  content: "";
}

.icon-linkedin-with-circle:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-pinterest-with-circle:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-rdio:before {
  content: "";
}

.icon-stumbleupon-with-circle:before {
  content: "";
}

.icon-stumbleupon:before {
  content: "";
}

.icon-tumblr-with-circle:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-twitter-with-circle:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-vimeo-with-circle:before {
  content: "";
}

.icon-vimeo:before {
  content: "";
}

.icon-youtube-with-circle:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-kraft-logo:before {
  content: "";
}

@media (min-width: 768px) {
  :root {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-weight: 300;
  color: #777;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  font-family: "Archivo Black", sans-serif;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
  font-family: "Archivo Black", sans-serif;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  font-family: "Archivo Black", sans-serif;
}

h4, h5, h6 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Archivo Black", sans-serif;
}

h1, h2, h3 {
  letter-spacing: -0.025em;
}

h1, h2, h3, p {
  margin: 0;
}

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

p {
  line-height: 1.5em;
}

a {
  color: #477DCA;
  text-decoration: none;
}

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.4em;
  margin: 1em 0 2.5em;
  text-align: center;
}

code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.65em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}

h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Archivo Black", sans-serif;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

p {
  letter-spacing: 1;
  margin-bottom: 1.5em;
}
p span {
  font-family: "Archivo Black", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
}

hr {
  width: 3em;
}

a.read-more {
  display: inline-block;
  font-family: "Archivo Black", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
a.read-more span {
  font-size: 1.7em;
  position: absolute;
  right: -10px;
  top: -2px;
}

p.author {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
}

header {
  font-family: "Archivo Black", sans-serif;
}

.logo {
  width: 100%;
  display: block;
  text-align: center;
  outline: none;
  margin-bottom: 0.75em;
}
.logo a {
  color: white;
  font-size: 1.5em;
  letter-spacing: -0.025em;
  border: 1px dashed transparent;
  padding: 15px;
  border-radius: 6px;
}
@media (min-width: 550px) {
  .logo a {
    margin-left: -20px;
  }
}
.logo a:focus {
  outline: none;
  border: 1px dashed;
}

nav ul {
  margin: 0;
}
nav ul > li {
  float: left;
  font-weight: 200;
  position: relative;
  list-style: none;
}
nav ul > li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  border: 1px dashed transparent;
  border-radius: 6px;
}
nav ul > li a:focus {
  outline: none;
  border: 1px dashed;
}

@media (min-width: 550px) {
  .logo {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px;
    text-align: left;
  }

  nav {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px;
    padding-top: 0.6em;
  }
  nav ul {
    float: right;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  padding: 14px 24px;
  font-size: 17px;
  text-shadow: none;
  line-height: 1.42857143;
  color: #fff;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.75em;
}
.btn:hover {
  color: #2f2b3b;
  background-color: #fff;
  border-color: #fff;
}
.btn:focus {
  outline: none;
  border: 2px dashed #9792E3;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #d70;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    background: #e7e7e7;
    color: #2f2b3b;
  }

  .btn {
    border-color: #2f2b3b;
    color: #2f2b3b;
  }
  .btn:hover {
    background: #2f2b3b;
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2f2b3b;
    color: #ddd;
  }
}
body {
  margin: 0;
  padding-top: 80px;
}

a {
  text-decoration: none;
}

section aside {
  width: calc(8.3333333333% - 21.6666666667px);
  float: left;
  margin-left: 20px;
}

header,
section,
footer {
  width: 100%;
}

section {
  min-height: 100vh;
  padding: 1.5em 0;
  text-align: center;
}

.wrapper {
  max-width: 1380px;
  margin: auto;
}

header {
  background: #2f2b3b;
  padding: 1.5em;
  padding-bottom: 3em;
  margin: 0;
  bottom: 0;
  position: fixed;
}
@media (min-width: 550px) {
  header {
    padding: 1.5em;
  }
}
@media (min-width: 550px) {
  header {
    top: 0;
    bottom: inherit;
  }
}

.kraft-logo {
  background: url(../img/kraft-logo-hr.svg) no-repeat;
  width: 100%;
  max-width: 170px;
  height: 55px;
  display: block;
  float: left;
}

@media screen and (min-width: 620px) {
  .kraft-logo {
    background: url(../img/kraft-logo.svg) no-repeat;
    width: 100%;
    max-width: 270px;
    height: 26px;
    display: block;
    float: left;
  }
}
section#hero {
  display: table;
  margin-top: -25vh;
}
@media (min-width: 550px) {
  section#hero {
    margin-top: -75px;
  }
}
section#hero .center-middle {
  display: table-cell;
  vertical-align: middle;
}

.thumb {
  background: white;
  min-height: 75vh;
  margin-bottom: 20px;
}

.photo {
  margin-bottom: 1.5em;
}
.photo img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 550px) {
  .photo {
    width: calc(41.6666666667% - 28.3333333333px);
    float: left;
    margin-left: 20px;
  }

  .text-about-me {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
    text-align: left;
  }
}
footer {
  width: 100%;
  padding: 0.6em;
  text-align: center;
}
footer article {
  padding: 25px 0;
}
footer article::after {
  clear: both;
  content: "";
  display: block;
}

.sliding-menu-button {
  display: none;
}

.line {
  height: 2px;
  background: #2f2b3b;
  width: 20%;
  margin: 0 auto 1.5em;
}
