a {
	color: white;
	border-bottom: 1px solid white;
	@media (prefers-color-scheme: light) {
		color: $grey-purple;
	border-bottom: 1px solid $grey-purple;
	}
		  padding: 4px 5px;
		  transition: all 300ms ease;

    &:hover {
      padding-bottom: 2px;
    }

		  &:focus {
			outline: none;
			border: 1px dashed;
		}
	  }

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 2px solid transparent;
	white-space: nowrap;
	padding: ($base-spacing / 2) $base-spacing;
	font-size: 14px;
	// font-size: 17px;
	text-shadow: none;
	// text-transform: uppercase;
	line-height: 1.42857143;
	color: $grey-purple;
	background-color: white ;
	@media (prefers-color-scheme: light) {
	background-color: transparent;
	}
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: .75em;

	&:hover {
		color: $grey-purple;
		background-color: #fff;
		border-color: #fff;
		padding: ($base-spacing / 2) $base-spacing;
	}

	&:focus {
		outline: none;
		border: 2px dashed $lilac;
	}
}

.btn-primary {
	color: $grey-purple;
	background-color: $lilac;
	border-color: $lilac;

	&:hover {
		background-color: lighten($lilac, 10%);
		border-color: lighten($lilac, 10%);
	}
}

.btn-secondary {
	color: $lilac;
	background-color: transparent;
	border: 2px solid lighten($grey-purple, 15%);
	@media (prefers-color-scheme: light) {
		color: $grey-purple;
		border: 2px solid $grey-purple;
	}

	&:hover {
		color: white;
		background-color: lighten($grey-purple, 10%);
		border-color: lighten($grey-purple, 10%);
		@media (prefers-color-scheme: light) {
			color: $grey-purple;
			background-color: $grey-purple;
			border-color: $grey-purple;
		}
	}
}
a[target="_blank"]:after {
	content: '';
	background: url(/img/icon-exit@2x.png);
	@media (prefers-color-scheme: light) {
		background: url(/img/icon-exit-purple.svg);
	}
	background-size: 15px;
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-left: 4px;
}