.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 2px solid transparent;
	white-space: nowrap;
	padding: ($base-spacing / 2) $base-spacing;
	font-size: 14px;
	// font-size: 17px;
	text-shadow: none;
	// text-transform: uppercase;
	line-height: 1.42857143;
	color: #fff;
	background-color: transparent;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: .75em;

	&:hover {
		color: $grey-purple;
		background-color: #fff;
		border-color: #fff;
	}

	&:focus {
		outline: none;
		border: 2px dashed $lilac;
	}
}