@import "bourbon", "neat";
// Colors 
$kraft-blue: rgb(64, 75, 107);
$kraft-purple: rgb(108,125,171);

@import "icons.scss";
@import "typography.scss";
@import "buttons.scss";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
	font-family:'Lato', $helvetica;
	font-weight:200;
	margin:0;
	color:#777;
	}
a {
	text-decoration:none;
}
section {
  
  // aside { @include span-columns(3); }
  article { @include outer-container; }
}
header, section, footer {
	width:100%;
	display: inline;
	float:left;
}
header {
	background: $kraft-blue;
	width:100%;
	padding:20px;
	margin:0;
	// text-align: right;

		// nav {
		// 	@include outer-container;
		// 	padding:15px 0;
		// }
}
.kraft-logo {
	background: url(../img/kraft-logo-hr.svg) no-repeat;
	width:100%;
	max-width: 170px;
	height:55px;
	display:block;
	float:left;
	@include transition(all 500ms ease);
}
@media screen and (min-width: 620px) {
.kraft-logo {
	background: url(../img/kraft-logo.svg) no-repeat;
	width:100%;
	max-width: 270px;
	height:26px;
	display:block;
	float:left;
}
}

ol {
	float:right;
	margin:0;

    > li {
      float: left;
      font-weight: 200;
      position: relative;
      list-style: none;
      @include transition( all 0.8s );

	  	a {
	  		color:white;
	  		text-decoration: none;
	  		padding:15px;
  	}
	}
}

section#hero {
	text-align:center;
	background:$kraft-purple;
	color:white;
	padding:50px 0;
}

section#work {
	article > div {
		@include span-columns(3);
		background:#e7e7e7;
		min-height: 250px;
	}

	article > div::nth-child(4) {
		margin-right: 0;
	} 
}
footer {
	width:100%;
	border-top: 1px solid rgba(0,0,0,.1);
	color:#ddd;

	article {
		@include outer-container;
		padding:25px 0;
	}
}
.sliding-menu-button {
	display:none;
}
@media screen and (max-width: 620px) {
@import "sliding-menu.scss";
}
