@import "bourbon", "neat";
@import "variables.scss";
@import "icons.scss";
@import "typography.scss";
@import "nav.scss";
@import "buttons.scss";

@import "lightbox.scss";

html {
	box-sizing: border-box;
	height: 100%
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #d70;
	height: 100%
}

@media (prefers-color-scheme: light) {
	body {
		background: #e7e7e7;
		color: $grey-purple;
		font-weight: 350;
	}

	h1, h2, h3 {
		font-weight: 650;
	}
	
	p {
		font-weight: 350;
	}

	.btn {
		border-color: $grey-purple;
		color: $grey-purple;

		&:hover {
			background: $grey-purple;
			color: white;
		}
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $grey-purple;
		color: #ddd;
		font-weight: 300;
	}
	h1, h2, h3 {
		font-weight: 600;
	}
	
	p {
		font-weight: 300;
	}
}

body {
	margin: 0;
	// @media (min-width:768px) {
	// padding-top: 80px;
	// }
}
a {
	text-decoration: none;
}
section {
	aside {
		@include grid-column(1);
	}
	//   article { @include outer-container; }
}
header,
section,
footer {
	width: 100%;
	// display: inline;
	// float:left;
}
section {
	display: inline-block;
	// min-height: 100vh;
	padding: ($base-spacing * 3) 0;
	// text-align: center;
}


.wrapper {
	max-width: 1480px;
	padding: 0 ($base-spacing);
	margin: auto;
}
header {
	display: inline-block;
	background: $grey-purple;
	// width: 100%;
	// height: 100%;
	padding: ($base-spacing / 2) $base-spacing ; 
	// padding-bottom: $base-spacing * 2;
	// @media (min-width: 767px) {
	// 	padding: $base-spacing;	
	// }
	top: 0;
	z-index: 100;;
	// margin: 0;
	// bottom: 0;

	&+section {
		padding-top: $base-spacing;
	}

	@media (min-width:768px) {
		position: relative;
		bottom: inherit;
	}
	
	
	// text-shadow: 0 0 5px $grey-purple;
	// @include transition(all 500ms ease);
	// text-align: right;

	// nav {
	// 	@include outer-container;
	// 	padding:15px 0;
	// }
}
.kraft-logo {
	background: url(../img/kraft-logo-hr.svg) no-repeat;
	width: 100%;
	max-width: 170px;
	height: 55px;
	display: block;
	float: left;
	// @include transition(all 1s ease);
}
@media screen and (min-width: 620px) {
	.kraft-logo {
		background: url(../img/kraft-logo.svg) no-repeat;
		width: 100%;
		max-width: 270px;
		height: 26px;
		display: block;
		float: left;
	}
}

section#hero {
	// background: $light-green;
	// color: white;
	display: table;
	// margin-top: -95px;
	min-height: 100vh;
	position: relative;

	h1 {
		line-height: 1.2;
		margin: 0 0 ($base-spacing / 4) 0;
	}

	h2 + .btn {
		margin-top: $base-spacing;
	}
	@media (min-width: 767px) {
		margin-top: -55px;
		
	}

	.center-middle {
		display: table-cell;
		vertical-align: middle;
	}

	// .wrapper {
	// 	max-width: 1200px;
	// }
}

.work-example {
	width: 100%;
	margin-bottom: 40px;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.25);
	@media (prefers-color-scheme: light) {
		background: white;
	}
	display: inline-block;
	transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s 
}
.work-thumb {
	// @include grid-column(4);
	background: $grey;

	// min-height: 400px;
	// margin-bottom: 20px;
	border-top-left-radius: 8px;
	@media (min-width: 768px) {
	border-bottom-left-radius: 8px;
	}
		@media (min-width: 767px) {
		min-height: 300px;
		}
		overflow: hidden;
	img {
		@media screen and (min-width: 768px) {
		opacity: 0.5;
		}
		
		display: block;
		width: 100%;
		height: auto;
		@media screen and (min-width: 768px) and (max-width: 989px) {
			height: 100%;
			width: auto;
		}
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		@media (min-width: 768px) {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border-top-right-radius: 0px;
		transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s 
		
		}
		
	}
}

.work-example:hover .work-thumb > img { opacity: 1;}

.work-intro {
	padding: ($base-spacing * 2);

	span {
		opacity: 1;
	}
}

@media (min-width: 768px) {
	.work-thumb  {
		@include grid-column(7);
		margin-left:0;
	}

	.work-intro  {
		@include grid-column(6);
		padding: ($base-spacing * 2) 0;
	}
}

// 	.thumb::nth-child(4) {
// 		margin-right: 0;
// 	}
// }
.photo { 
	margin-bottom: $base-spacing;

	img {
	max-width: 100%;
	height: auto;
}
}
@media (min-width: 767px) {
	.photo {
		@include grid-column(7);
		margin-left:0;
		
	}

	.text-about-me {
		@include grid-column(6); 
		// @include grid-push(1);
		text-align: left;
	}
}

footer {
	width: 100%;
	padding: ($base-spacing / 2.5);
	// border-top: 1px solid rgba(0, 0, 0, 0.1);
	// colo	r: #ddd;
	// background: $grey;
	// text-align: center;

	article {
		padding: 25px 0;
	}
}
.sliding-menu-button {
	display: none;
}

.line {
	height: 2px;
	background: $grey-purple;
	width: 20%;
	margin: 0 auto 1.5em;
}
@media screen and (max-width: 620px) {
	// @import "sliding-menu.scss";
}

@media (min-width: 767px) {
	
.browser-left, .browser-right {
	@include grid-column(7);
	// margin-left: -15%;
}
.browser-right {
	float: right;
	margin-left: 0;
}
.work-content {
	@include grid-column(5);
	padding-top: $base-spacing;
}
}

.browser-left img, .browser-right img,
.browser-left video, .browser-right video {
	max-width: 100%;
	height: auto;
	display: block;
		position: relative;
		cursor:  zoom-in;
}
// .role {
// 	margin-bottom: ($base-spacing / 2);
// }
@media (min-width: 768px) { 
	.case-study-content {
		@include grid-column(6);
	}

	

	.case-study-video {
		@include grid-column(6);

		video {
			max-width: 100%;
			height: auto;
			display: block;
			position: relative;
			
		}
	}
}

.case-study-hero-image {
	width: 100%;
	height: auto;
}

.case-study-content {
	padding: $base-spacing;
}

.case-study-performance .case-study-content {
	padding: $base-spacing;
	// padding-top: $base-spacing * 3;
}
.case-study-video {
	video {
		max-width: 100%;
		height: auto;
		display: block;
		position: relative;
		
	}
}



.key-features, .key-wins {
	@media (min-width: 768px) {
		@include grid-column(6);
	}

	ul li {
		list-style: none;
		padding-bottom: ($base-spacing);
	}
}

.key-wins {
	padding-top: $base-spacing * 4;
}

#case-studies article {
	@include grid-column(6);

	.work-intro {
		@include grid-column(12);
	}
}

.case-study-overview h5 span {
	color: $lilac;
}
.badge {
	font-size: 14px;
	padding: ($base-spacing / 4) ($base-spacing / 2);
	border-radius: 3px;
	line-height: 14px;
	font-weight: 450;
	background: white;
	display: inline-block;
	margin-bottom: ($base-spacing / 2);
}

.ux-badge {
	background: $light-green;
	color: $grey;
}

.ui-badge {
	background: $light-blue;
	color: $grey;
}

.dev-badge {
	background: $honeydew;
	color: $grey;
}

.design-system-badge {
	background: $light-yellow;
	color: $grey;
}


.work-landing {
	header {
		// background: transparent;
	}
	#hero {
		// background-color: transparent;
		// margin-top: -100px;
		margin-top: -5px;
		h1 {
			color: white;
		}

		a {
			color: white;
			border-color: white;
		}

		.btn {
			color: $grey-purple;
			background-color: white;
		}
		@media (min-width: 767px) {
		// margin-top: -80px;
		// z-index: 190;
			
		

		}
	}

	.hero.timeline {
		background-image: linear-gradient(to bottom, rgba(9, 11, 13, .7), rgba(9, 11, 13, .4)), url('/img/timeline-hero.png');
		background-size: cover;
		background-position: center;
	}

	.hero.healthcare {
		background-image: linear-gradient(to bottom, rgba(9, 11, 13, .7), rgba(9, 11, 13, .4)), url('/img/healthcare-hero.png');
		background-size: cover;
		background-position: center;
	}

	.hero.lsb {
		background-image: linear-gradient(to bottom, rgba(9, 11, 13, .7), rgba(9, 11, 13, .5)), url('/img/lsb-hero.png');
		background-size: cover;
		background-position: center;
	}

	.hero.catechism {
		background-image: linear-gradient(to bottom, rgba(9, 11, 13, .6), rgba(9, 11, 13, .2)), url('/img/catechism-hero.png');
		background-size: cover;
		background-position: center;
	}

	.hero.styleguide {
		background-image: linear-gradient(to bottom, rgba(9, 11, 13, .6), rgba(9, 11, 13, .2)), url('/img/styleguide-hero.png');
		background-size: cover;
		background-position: center;
	}

	.hero.faithcourses {
		background-image: linear-gradient(to bottom, rgba(9, 11, 13, .7), rgba(9, 11, 13, .5)), url('/img/faithcourses-hero.png');
		background-size: cover;
		background-position: center;
	}
}


.work-overview {
	// background: $grey;
	border-bottom: 1px solid $grey;
	@media (prefers-color-scheme: light) {
	background: $light-gray; 
	}
	@media (min-width: 768px) {
		padding: 100px 0;
	}
}
@media (min-width: 768px) {
.overview {
	@include grid-column(8);
	margin-left:0;
}

.my-role {
	@include grid-column(3);
	float: right;
}
}

.my-role ul {
	padding: 0;
}
.my-role li {
	list-style: none;;
	padding-bottom: ($base-spacing / 2);
}

ul li {
	padding-bottom: ($base-spacing / 2);
	font-size: 1em;
}


#instafeed {
	max-width:1080px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	
	a {
	  display: flex;
	  align-items: center;
	  position: relative;
	  width: 50%;
	  background: white;
	  
	  @media only screen and (min-width: 768px) {
		width: 25%;
	  }
	  
	  img {
		display: block;
		width: 100%;
	  }
	}
  }


  .footer-links {
	  padding-bottom: $base-spacing;
		text-align: center;
	  a {
		  margin-right: $base-spacing / 2;
		  color: white;
		  @media (prefers-color-scheme: light) { 
			  color: $grey-purple;
		  }
		  border-bottom: 1px solid white;
		  @media (prefers-color-scheme: light) {
			border-bottom: 1px solid $grey-purple;
		  }
		  padding: 8px 5px;
		  transition: all 300ms ease;

    &:hover {
      padding-bottom: 4px;
    }

		  &:focus {
			outline: none;
			border: 1px dashed;
		}
	  }
	  @media only screen and (min-width: 768px) {
		@include grid-column(8);
		margin-left: 0;
		text-align: left;
	  }
  }

  .copyright {
	text-align: center;
	padding-bottom: $base-spacing;
	@media only screen and (min-width: 768px) {
		float: right;
		text-align: right;
	  }
  }


  #detail-modal {
	justify-content: center;
	align-items: center;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
  }
  
  #detail-modal img {
	display: block;
	position: relative;
	z-index: 100;
	cursor: zoom-out;
  }
  
  .bg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background-color: #ffffff;
	opacity: 0;
	display: block;
	transition: opacity .3s;
  }
  

  .breadcrumb {
	  border:0;
  }

  #zooom-overlay {
	  z-index: 150;
  }

  img[data-zoomed="true"] {
	  z-index: 200;
  }

  .work-footer img {
	  padding: 50px 0; 
	  max-width: 100%;
	  height: auto;
  }

  code {
	color: $grey;
  }

  table {
	@include border-style(solid);
	@include border-width(1px);
	@include border-color($grey);
	@include margin($base-spacing 0);
	border-collapse: collapse;
	@include border-top-radius(4px);

	thead {
		@include border-top-radius(4px);
	}

	th, td {
		@include padding($base-spacing / 2);
		@include border-style(solid);
	@include border-width(1px);
	@include border-color($grey);
	@include margin($base-spacing 0);

	&:last-child {
		background-color: $dark-green;
	
		@media (prefers-color-scheme: light) {
		background-color: $light-green;
		}

	}
	}
  }