
  ///////////////////////////////////////////////////////////////////////////////////

  
  // p {
  //   color: $base-font-color;
  //   line-height: $base-line-height;
  // }

  // a {
  //   color: $base-link-color;
  //   text-decoration: none;
  // }
  //////////////////////////////////////////////////////////////////////////////////

  // aside {
  //   @include media($large-screen) {
  //     @include span-columns(4);
  //   }
  // }

  .logo {
    // border-bottom: 1px solid transparentize($base-link-color, 0.8);
    // @include grid-column(5);
    // margin-right: ($base-spacing / 2) ;
    width: 100%;
    display: block;
    text-align: center;
    outline: none;
    // line-height: 14px;;
    // padding: ($base-spacing / 2) $base-spacing ;
    position: relative;
    z-index: 300;
    font-weight: 900;
    color: $light-blue;

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-right: 5px;
      margin-top: 5px;;
    }
    a {
    color: white;
    font-size: 1.25em;
    letter-spacing: -0.025em;
    border: 1px dashed transparent;
    padding: 5px 0px 5px;
    
    // border-radius: 6px;
    // @media (min-width: 550px) {
    //   margin-left: -20px;
    // }
    &:focus {
      outline: none;
      border: 1px dashed;
  }
  }
    margin-bottom: ($base-spacing / 2) ;
  }

  nav ul {
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
  
    > li {
      display: inline-block;
      // font-weight: 200;
      position: relative;
      list-style: none;
      @media (min-width: 550px) {
      font-size: 0.85em;
      }
      // @include transition( all 0.8s );
  
      a {
        color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px dashed transparent;
    border-radius: 6px;
    border-bottom: 1px solid;
    border-radius: 0;
    margin: 0 12px;
    transition: all 300ms ease;

    &:hover {
      padding-bottom: 1px;
    }

        &:focus {
          outline: none;
          border: 1px dashed;
      }
      }
    }
  }
  // .logo {
  //   float: left;
  //   width: 45%;
  //   text-align: left;
  // }

  // nav { float: right;}
  @media (min-width: 605px) {
    .logo {
      @include grid-column(6);
      text-align: left;
      margin-left: 0;
    }
  
  nav {
    @include grid-column(6);
    padding-top:$base-spacing / 2.5;
    float: right;
    margin-top: -10px;

    ul {
        float: right;
    }
  }
  
}

  // article {
  //   h4 {
  //     margin: 0 0 0.5em 0;
  //   }

  //   section p:last-of-type {
  //     margin-bottom: 2em; 
  //   }

  //   @include media($large-screen) {
  //     @include span-columns(8);
  //   }
  // }

// Based on code by http://codepen.io/xmark/
