
  ///////////////////////////////////////////////////////////////////////////////////

  
  // p {
  //   color: $base-font-color;
  //   line-height: $base-line-height;
  // }

  // a {
  //   color: $base-link-color;
  //   text-decoration: none;
  // }
  //////////////////////////////////////////////////////////////////////////////////

  // aside {
  //   @include media($large-screen) {
  //     @include span-columns(4);
  //   }
  // }

  .logo {
    // border-bottom: 1px solid transparentize($base-link-color, 0.8);
    // @include grid-column(5);
    // margin-right: ($base-spacing / 2) ;
    width: 100%;
    display: block;
    text-align: center;
    outline: none;
    // padding: ($base-spacing / 2) $base-spacing ;
    a {
    color: white;
    font-size: 1.5em;
    letter-spacing: -0.025em;
    border: 1px dashed transparent;
    padding: 15px;
    border-radius: 6px;
    @media (min-width: 550px) {
      margin-left: -20px;
    }
    &:focus {
      outline: none;
      border: 1px dashed;
  }
  }
    margin-bottom: ($base-spacing / 2) ;
  }

  nav ul {
    margin: 0;
  
    > li {
      float: left;
      font-weight: 200;
      position: relative;
      list-style: none;
      // @include transition( all 0.8s );
  
      a {
        color: white;
        text-decoration: none;
        padding: 15px;
        border: 1px dashed transparent;
        border-radius: 6px;;

        &:focus {
          outline: none;
          border: 1px dashed;
      }
      }
    }
  }

  @media (min-width: 550px) {
    .logo {
      @include grid-column(5);
      text-align: left;
    }
  
  nav {
    @include grid-column(7);
    padding-top:$base-spacing / 2.5;

    ul {
        float: right;
    }
  }
  
}

  // article {
  //   h4 {
  //     margin: 0 0 0.5em 0;
  //   }

  //   section p:last-of-type {
  //     margin-bottom: 2em; 
  //   }

  //   @include media($large-screen) {
  //     @include span-columns(8);
  //   }
  // }

// Based on code by http://codepen.io/xmark/
