<article class="work-example">
    <div class="work-thumb"><img src="/img/nate-paul-design-case-study.jpg" alt="Thumbnail of Nate Paul Design"></div>
    <div class="work-intro">
      <div class="role"><span class="badge dev-badge">Frontend Development</span> <span class="badge ui-badge">UI Design</span> <span class="badge ux-badge">UX Design</span> </div>
      <h3>Nate Paul Design</h3>
      <p>A streamlined, accessible portfolio built to showcase two decades of user-first design and frontend development expertise.</p>
      <a href="/case-studies/nate-paul-design/" class="btn">View Details</a>
    </div>
  </article>