<article class="work-example">
    <!-- <div class="work-thumb"><img src="/img/nate-paul-design-case-study.jpg" alt="Thumbnail of Nate Paul Design"></div> -->
    <div class="work-intro">
      <div class="role"><span class="badge dev-badge">Frontend Development</span> <span class="badge ui-badge">UI Design</span> <span class="badge ux-badge">UX Design</span> </div>
      <h3>YouthESource.com</h3>
      <p>I built YouthESource.com on Wordpress with a mobile-first design, improved search, security, and performance, and seamlessly migrated content.</p>
      <a href="/case-studies/youthesource/" class="btn">View Case Study</a>
    </div>
</article>
<article class="work-example">
    <!-- <div class="work-thumb"><img src="/img/nate-paul-design-case-study.jpg" alt="Thumbnail of Nate Paul Design"></div> -->
    <div class="work-intro">
      <div class="role"><span class="badge dev-badge">Frontend Development</span> <span class="badge ui-badge">UI Design</span> <span class="badge ux-badge">UX Design</span> </div>
      <h3>NatePaul.Design</h3>
      <p>A streamlined, accessible portfolio built to showcase two decades of user-first design and frontend development expertise.</p>
      <a href="/case-studies/nate-paul-design/" class="btn">View Case Study</a>
    </div>
  </article>