<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW672ZTX"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-3.1.0.min.js"><\/script>')</script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.4.0/rxjs.umd.min.js"></script> -->
  <script type="text/javascript" src="/js/min/scripts-min.js"></script>
  <script type="text/javascript" src="/js/medium-lightbox.js"></script>

  <script>
    MediumLightbox('figure.zoom-effect');
  </script>

 