
  <article class="work-example">
    <div class="work-thumb">
      <picture>
        <source srcset="/img/faithcourses-thumb.webp" type="image/webp"/>
        <img src="/img/faithcourses-thumb.png" alt="Thumbnail of CPH Faithcourses">
      </picture>
    </div>
    <div class="work-intro">
        <div class="role"><span class="badge dev-badge">Frontend Development</span> <span class="badge ui-badge">UI Design</span></div>
      <h3>CPH Faithcourses</h3>
      <p>Custom-built Wordpress video course platform</p>
      <a href="/work/faithcourses/" class="btn">View Details</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb">
      <picture> 
        <source srcset="/img/timeline-thumb.webp" type="image/webp"/>
        <img src="/img/timeline-thumb.png" alt="Thumbnail of Reformation Timeline">
      </picture>
    </div>
    <div class="work-intro">
      <div class="role"><span class="badge dev-badge">Frontend Development</span> <span class="badge ui-badge">UI Design</span></div>
      <h3>A Reformation Timeline</h3>
      <p>Paced experience of Martin Luther's time and events in contemporary history</p>
      <a href="/work/timeline/" class="btn">View more</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb">
      <picture>
        <source srcset="/img/styleguide-thumb.webp" type="image/webp"/>
        <img src="/img/styleguide-thumb.png" alt="Thumbnail of CPH Style Guide">
      </picture>
    </div>
    <div class="work-intro">
        <div class="role"><span class="badge design-system-badge">Design System</span></div>
      <h3>CPH Style Guide</h3>
      <p>Global design language</p>
      <a href="/work/styleguide/" class="btn">View Details</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb">
      <picture>
        <source srcset="/img/healthcare-thumb.webp" type="image/webp"/>
        <img src="/img/healthcare-thumb.png" alt="Thumbnail of Healthcare Tool">
      </picture>
    </div>
    <div class="work-intro">
      <div class="role"> <span class="badge ui-badge">UI Design</span> <span class="badge ux-badge">UX Design</span></div>
      <h3>Healthcare Tool</h3>
      <p>Software for supporting benefits decision-making</p>
      <a href="/work/healthcare/" class="btn">View Details</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb">
      <picture>
        <source srcset="/img/lsb-thumb.webp" type="image/webp"/>
        <img src="/img/lsb-thumb.png" alt="Thumbnail of Luther's Small Catechism">
      </picture>
    </div>
    <div class="work-intro">
      <div class="role"><span class="badge ui-badge">UI Design</span></div>
      <h3>Lutheran Service Builder</h3>
      <p>Product for churches to plan, print and present services</p>
      <a href="/work/lsb/" class="btn">View Details</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb">
      <picture>
        <source srcset="/img/catechism-thumb.webp" type="image/webp"/>
        <img src="/img/catechism-thumb.png" alt="Thumbnail of Luther's Small Catechism">
      </picture>
    </div>
    <div class="work-intro">
    <div class="role"><span class="badge ui-badge">UI Design</span></div>
      <h3>Luther's Small Catechism</h3>
      <p>Interactive app for on the go reference</p>
      <a href="/work/catechism/" class="btn">View Details</a>
    </div>
  </article>
  
  