<article class="work-example">
    <div class="work-thumb"><img src="/img/healthcare-thumb.png"></div>
    <div class="work-intro">
      <div class="role"><span class="badge ux-badge">UX Design</span> <span class="badge ui-badge">UI Design</span></div>
      <h3>Healthcare Tool</h3>
      <p>Software for benefits decision support</p>
      <a href="/work/healthcare/" class="btn">View more</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb"><img src="/img/faithcourses-thumb.png"></div>
    <div class="work-intro">
        <div class="role"><span class="badge ui-badge">UI Design</span> <span class="badge dev-badge">Web Development</span></div>
      <h3>CPH Faithcourses</h3>
      <p>Custom-built video course platform</p>
      <a href="/work/faithcourses/" class="btn">View more</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb"><img src="/img/lsb-thumb.png"></div>
    <div class="work-intro">
      <div class="role"><span class="badge ui-badge">UI Design</span></div>
      <h3>Lutheran Service Builder</h3>
      <p>Product for churches to plan, print and present services</p>
      <a href="/work/lsb/" class="btn">View more</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb"><img src="/img/catechism-thumb.png"></div>
    <div class="work-intro">
    <div class="role"><span class="badge ui-badge">UI Design</span></div>
      <h3>Luther's Small Catechism</h3>
      <p>Interactive app for on the go reference</p>
      <a href="/work/catechism/" class="btn">View more</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb"><img src="/img/styleguide-thumb.png"></div>
    <div class="work-intro">
        <div class="role"><span class="badge design-system-badge">Design System</span></div>
      <h3>CPH Style Guide</h3>
      <p>Global design language</p>
      <a href="/work/styleguide/" class="btn">View more</a>
    </div>
  </article>
  <article class="work-example">
    <div class="work-thumb"><img src="/img/timeline-thumb.png"></div>
    <div class="work-intro">
        <div class="role"><span class="badge ux-badge">UX Design</span> <span class="badge ui-badge">UI Design</span> <span class="badge dev-badge">Web Development</span></div>
      <h3>A Reformation Timeline</h3>
      <p>Paced experience of Martin Luther's time</p>
      <a href="/work/timeline/" class="btn">View more</a>
    </div>
  </article>