section.contact-tease {
	height:300px;
	text-align: center;
	background: url(http://subtlepatterns.com/patterns/greyzz.png);
	background-repeat:repeat;
	z-index:20;
	position:relative;

	h2 {
		padding-top:100px;
	}
}