.get-quote {
	background: $grey;
	color:#333;

	.wrapper {
		padding: 0 $base-spacing;
	}

	.price-box {
		@media screen and (min-width:500px) {
				@include column(6);
		}
			@media screen and (min-width:700px) {
			@include column(5);
			@include push(1);
			&:last-child {
				@include push(.5);
			}
		}
		margin-bottom: $base-spacing;
		background: white;
		padding:($base-spacing * 2) $base-spacing;
		-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
		-webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
		box-shadow: 0 0 5px rgba(0,0,0,.2);
		@media screen and (min-width:425px) {
		min-height: 360px;
		transition: all 1s ease;

		&:hover {
			-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.2);
			-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.2);
			box-shadow: inset 0 0 10px rgba(0,0,0,.2);
		}
		}

		&:last-child {
			background: $primary-color;
			color:white;

			span {
				color: $link-color;
			}

			h2, h4 {
				color:white;
			}
		}
		h2 {
			font-size: 32px;
			margin-top: $base-spacing;
			font-weight: 900;
			line-height: 1;
		}

		ul {
			float: left;
			width: 100%;
			margin-bottom: $base-spacing * 2;

			li {
				@include column(4);

				span {
					display: block;
					font-size: 18px;
					font-weight: 900;
					height:50px;
					width:50px;
					// padding: $base-spacing - 5;
					margin: 0 auto;
					border-radius: 50%;
					background:white;
					border: 1px solid $primary-color;
					line-height: 45px;

					&[class^="icon-"], [class*=" icon-"] {
						font-weight: normal;
						font-size: 25px; 
						line-height: 50px;
					}
				}
			}
		}
		.btn {
			background: $link-color;
			color:white;
		}
	}
}