section.hero {
		background: url(../images/google-partners-mobile.jpg) no-repeat; 
		background-position: 0 20% ;
	}

@media screen and (min-width:875px) {
	section.hero {
		background: none; 
	}
}
section.hero {
	padding-bottom:0;
}

.hero {

	.btn {
		display: block;
		margin-top:350px;
		@media screen and (min-width:875px) {
		margin-top: 60%;
	}

		span {
			display: block;
			opacity: .7;
			font-size: 90%;
			transition: all 500ms ease;
		}
	}
}