.questions {
	text-align:left;

	@media screen and (min-width: 875px) {
		text-align:center;
	}
}
.questions h2, .questions h3, .questions p {
	max-width:875px;
	margin-left:auto;
	margin-right:auto;
}

.questions h3 {
	margin-top:$base-spacing * 3;
	margin-bottom:$base-spacing - 5;
	padding-top:$base-spacing * 2;
	border-top: 1px solid #e7e7e7;
}