section.contact-form {
	@include column(11);
	margin:6%;
	@include push(.25);
	@include pull(.25);
	

	h2 {
		font-size: 32px;
		font-weight: 100;
		color:white;

	}

	.field-wrapper {
		position:relative;
		margin-bottom:40px;
	}

	.contact-phone {
		margin-bottom: 20px;
		color:white;
		font-size: 22px;
	}

	label {
		position:absolute;
		top:-13px;
		left:0;
		font-size:14px;
		color:rgba(255, 255, 255, .5);
		transition: all 0.1s linear;
		opacity:0;
		font-weight:100;
	}
	label.on {
		color:white;
	}
	label.show {
		top:-18px;
		opacity:1;
	}

	button.submit-button {
		background-color: $primary-color;
		border-color: $dark-blue;
		padding: 20px 20px 30px;
		display: inline;
		font-size: 32px;
		color:white;
		width: 100%;
		border:none;
		border-bottom: 3px solid $link-color;
		font-family: 'Open Sans';
		font-weight: 200;

			span {
				margin-right:5px;
			}
	}

	@media screen and (min-width: 820px) {

		@include column(6);
		@include push(1.5);
		@include pull(1.5);

		h2 {
			font-size: 52px;
		}

	}

}