section.services {
	padding-top:50px;
	background:#f3f5f8 url(../images/bg-grey.jpg) repeat;
	text-align: center;
	color:white;
	float:left;

	h1 {
		margin-bottom: 25px;
		font-weight: 100;
		font-size: 42px;
	}

	.alpha {
		@include column(11);
		@include push(.5);

		p {
			text-align: left;
		}
	}

	.highlight-dark {
		margin-top:50px;
		padding: 40px 0;
		text-align: center;
		font-size: 52px;
		font-weight:100;
		background:#162c37;
		color:white;
		float:left;
		width:100%;
	}

	@media screen and (min-width: 820px) {
		
		padding-top:160px;

		.alpha {
			@include column(8);
			@include push(2);
		}

		.featured-project {
			width: 33.333%;
		}
		
		.featured-project h3 {
			font-size: 32px;
			line-height: 35px;
		}
	}
}