.grid-container {
  width: 100%; }

.grid-photo {
  float: left;
  width: 33.333%; }
  .grid-photo div {
    position: relative;
    cursor: pointer; }
    .grid-photo div h3 {
      position: absolute;
      width: 100%;
      text-align: center; }
