@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 600; }

h2 {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 600; }

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600; }

h4, h5, h6 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 900; }

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.grid-container {
  width: 100%; }

.grid-photo {
  float: left;
  width: 33.333%; }
  .grid-photo div {
    position: relative; }
    .grid-photo div h3 {
      position: absolute;
      width: 100%;
      text-align: center; }

.project-hover {
  cursor: pointer; }

.featured-project {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 50%; }

.project-hover img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.project-hover img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.featured-project img {
  display: block;
  position: relative; }

.project-hover:hover img {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02); }

.project-hover:hover .mask {
  opacity: 1;
  background-color: rgba(0, 175, 239, 0.8); }

.project-hover:hover h3, .project-hover:hover p {
  opacity: 1; }

.project-hover .mask {
  opacity: .9;
  background-color: rgba(98, 189, 23, 0.4);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.featured-project .mask, .featured-project .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.featured-project .mask, .featured-project .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.featured-project h3 {
  font-size: 26px;
  line-height: 25px; }

.featured-project h3 {
  text-shadow: 0 1px 6px rgba(20, 17, 23, 0.6);
  font-weight: bold;
  color: white;
  z-index: 700;
  position: relative;
  padding: 0 0 5px 0; }

.white-divider-small {
  background-color: white;
  display: block;
  height: 3px;
  width: 40px;
  margin: 1.2em auto 1.1em auto; }

.featured-project p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px; }

.featured-project p {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0px;
  position: relative;
  color: white; }

.featured-project .project-info {
  padding: 22% 4% 0 4%; }

.btn {
  padding: 8px 13px 9px;
  cursor: pointer;
  transition: all 500ms ease; }

.btn-primary {
  background: #62bd17;
  border-bottom: 3px solid #0e79a0;
  color: white; }
  .btn-primary:hover {
    background: #0e79a0;
    border-bottom: 3px solid #162c37; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: #fff url("./../images/ajax-loader.gif") center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 70px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 0; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px;
  height: 100%; }

.slick-dots {
  position: absolute;
  bottom: 10%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 0 0 8px #000; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 0.75; }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(22, 44, 55, 0.96);
  overflow: auto; }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  background-size: 30px;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px; }

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0; }

/* Effects */
.container {
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s; }

.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-gmdurw");
  src: url("../fonts/icomoon.eot?#iefix-gmdurw") format("embedded-opentype"), url("../fonts/icomoon.woff?-gmdurw") format("woff"), url("../fonts/icomoon.ttf?-gmdurw") format("truetype"), url("../fonts/icomoon.svg?-gmdurw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-youtube:before {
  content: "\e71c"; }

.icon-phone:before {
  content: "\e604"; }

.icon-mobile:before {
  content: "\e600"; }

.icon-mouse:before {
  content: "\e605"; }

.icon-directions:before {
  content: "\e606"; }

.icon-mail:before {
  content: "\e601"; }

.icon-paperplane:before {
  content: "\e607"; }

.icon-pencil:before {
  content: "\e608"; }

.icon-feather:before {
  content: "\e609"; }

.icon-paperclip:before {
  content: "\e60a"; }

.icon-drawer:before {
  content: "\e60b"; }

.icon-reply:before {
  content: "\e60c"; }

.icon-reply-all:before {
  content: "\e60d"; }

.icon-forward:before {
  content: "\e60e"; }

.icon-user:before {
  content: "\e60f"; }

.icon-users:before {
  content: "\e610"; }

.icon-user-add:before {
  content: "\e611"; }

.icon-vcard:before {
  content: "\e612"; }

.icon-export:before {
  content: "\e613"; }

.icon-location:before {
  content: "\e614"; }

.icon-map:before {
  content: "\e615"; }

.icon-compass:before {
  content: "\e616"; }

.icon-location2:before {
  content: "\e617"; }

.icon-target:before {
  content: "\e618"; }

.icon-share:before {
  content: "\e619"; }

.icon-sharable:before {
  content: "\e61a"; }

.icon-heart:before {
  content: "\e61b"; }

.icon-heart2:before {
  content: "\e61c"; }

.icon-star:before {
  content: "\e61d"; }

.icon-star2:before {
  content: "\e61e"; }

.icon-thumbsup:before {
  content: "\e61f"; }

.icon-thumbsdown:before {
  content: "\e620"; }

.icon-chat:before {
  content: "\e621"; }

.icon-comment:before {
  content: "\e622"; }

.icon-quote:before {
  content: "\e623"; }

.icon-house:before {
  content: "\e624"; }

.icon-popup:before {
  content: "\e625"; }

.icon-search:before {
  content: "\e626"; }

.icon-flashlight:before {
  content: "\e627"; }

.icon-printer:before {
  content: "\e628"; }

.icon-bell:before {
  content: "\e629"; }

.icon-link:before {
  content: "\e62a"; }

.icon-flag:before {
  content: "\e62b"; }

.icon-cog:before {
  content: "\e62c"; }

.icon-tools:before {
  content: "\e62d"; }

.icon-trophy:before {
  content: "\e62e"; }

.icon-tag:before {
  content: "\e62f"; }

.icon-camera:before {
  content: "\e630"; }

.icon-megaphone:before {
  content: "\e631"; }

.icon-moon:before {
  content: "\e632"; }

.icon-palette:before {
  content: "\e633"; }

.icon-leaf:before {
  content: "\e634"; }

.icon-music:before {
  content: "\e635"; }

.icon-music2:before {
  content: "\e636"; }

.icon-new:before {
  content: "\e637"; }

.icon-graduation:before {
  content: "\e638"; }

.icon-book:before {
  content: "\e639"; }

.icon-newspaper:before {
  content: "\e63a"; }

.icon-bag:before {
  content: "\e63b"; }

.icon-airplane:before {
  content: "\e63c"; }

.icon-lifebuoy:before {
  content: "\e63d"; }

.icon-eye:before {
  content: "\e63e"; }

.icon-clock:before {
  content: "\e63f"; }

.icon-microphone:before {
  content: "\e640"; }

.icon-calendar:before {
  content: "\e641"; }

.icon-bolt:before {
  content: "\e642"; }

.icon-thunder:before {
  content: "\e643"; }

.icon-droplet:before {
  content: "\e644"; }

.icon-cd:before {
  content: "\e645"; }

.icon-briefcase:before {
  content: "\e646"; }

.icon-air:before {
  content: "\e647"; }

.icon-hourglass:before {
  content: "\e648"; }

.icon-gauge:before {
  content: "\e649"; }

.icon-language:before {
  content: "\e64a"; }

.icon-network:before {
  content: "\e64b"; }

.icon-key:before {
  content: "\e64c"; }

.icon-battery:before {
  content: "\e64d"; }

.icon-bucket:before {
  content: "\e64e"; }

.icon-magnet:before {
  content: "\e64f"; }

.icon-drive:before {
  content: "\e650"; }

.icon-cup:before {
  content: "\e651"; }

.icon-rocket:before {
  content: "\e652"; }

.icon-brush:before {
  content: "\e653"; }

.icon-suitcase:before {
  content: "\e654"; }

.icon-cone:before {
  content: "\e655"; }

.icon-earth:before {
  content: "\e656"; }

.icon-keyboard:before {
  content: "\e657"; }

.icon-browser:before {
  content: "\e658"; }

.icon-publish:before {
  content: "\e659"; }

.icon-progress-3:before {
  content: "\e65a"; }

.icon-progress-2:before {
  content: "\e65b"; }

.icon-brogress-1:before {
  content: "\e65c"; }

.icon-progress-0:before {
  content: "\e65d"; }

.icon-sun:before {
  content: "\e65e"; }

.icon-sun2:before {
  content: "\e65f"; }

.icon-adjust:before {
  content: "\e660"; }

.icon-code:before {
  content: "\e661"; }

.icon-screen:before {
  content: "\e662"; }

.icon-infinity:before {
  content: "\e663"; }

.icon-light-bulb:before {
  content: "\e664"; }

.icon-creditcard:before {
  content: "\e665"; }

.icon-database:before {
  content: "\e666"; }

.icon-voicemail:before {
  content: "\e667"; }

.icon-clipboard:before {
  content: "\e668"; }

.icon-cart:before {
  content: "\e669"; }

.icon-box:before {
  content: "\e66a"; }

.icon-ticket:before {
  content: "\e66b"; }

.icon-rss:before {
  content: "\e66c"; }

.icon-signal:before {
  content: "\e66d"; }

.icon-thermometer:before {
  content: "\e66e"; }

.icon-droplets:before {
  content: "\e66f"; }

.icon-uniE670:before {
  content: "\e670"; }

.icon-statistics:before {
  content: "\e671"; }

.icon-pie:before {
  content: "\e672"; }

.icon-bars:before {
  content: "\e673"; }

.icon-graph:before {
  content: "\e674"; }

.icon-lock:before {
  content: "\e675"; }

.icon-lock-open:before {
  content: "\e676"; }

.icon-logout:before {
  content: "\e677"; }

.icon-login:before {
  content: "\e678"; }

.icon-checkmark:before {
  content: "\e679"; }

.icon-cross:before {
  content: "\e67a"; }

.icon-minus:before {
  content: "\e67b"; }

.icon-plus:before {
  content: "\e67c"; }

.icon-cross2:before {
  content: "\e67d"; }

.icon-minus2:before {
  content: "\e67e"; }

.icon-plus2:before {
  content: "\e67f"; }

.icon-cross3:before {
  content: "\e680"; }

.icon-minus3:before {
  content: "\e681"; }

.icon-plus3:before {
  content: "\e682"; }

.icon-erase:before {
  content: "\e683"; }

.icon-blocked:before {
  content: "\e684"; }

.icon-info:before {
  content: "\e685"; }

.icon-info2:before {
  content: "\e686"; }

.icon-question:before {
  content: "\e687"; }

.icon-help:before {
  content: "\e688"; }

.icon-warning:before {
  content: "\e689"; }

.icon-cycle:before {
  content: "\e68a"; }

.icon-cw:before {
  content: "\e68b"; }

.icon-ccw:before {
  content: "\e68c"; }

.icon-shuffle:before {
  content: "\e68d"; }

.icon-arrow:before {
  content: "\e68e"; }

.icon-arrow2:before {
  content: "\e68f"; }

.icon-retweet:before {
  content: "\e690"; }

.icon-loop:before {
  content: "\e691"; }

.icon-history:before {
  content: "\e692"; }

.icon-back:before {
  content: "\e693"; }

.icon-switch:before {
  content: "\e694"; }

.icon-list:before {
  content: "\e695"; }

.icon-add-to-list:before {
  content: "\e696"; }

.icon-layout:before {
  content: "\e697"; }

.icon-list2:before {
  content: "\e698"; }

.icon-text:before {
  content: "\e699"; }

.icon-text2:before {
  content: "\e69a"; }

.icon-document:before {
  content: "\e69b"; }

.icon-docs:before {
  content: "\e69c"; }

.icon-landscape:before {
  content: "\e69d"; }

.icon-pictures:before {
  content: "\e69e"; }

.icon-video:before {
  content: "\e69f"; }

.icon-music3:before {
  content: "\e6a0"; }

.icon-folder:before {
  content: "\e6a1"; }

.icon-archive:before {
  content: "\e6a2"; }

.icon-trash:before {
  content: "\e6a3"; }

.icon-upload:before {
  content: "\e6a4"; }

.icon-download:before {
  content: "\e6a5"; }

.icon-disk:before {
  content: "\e6a6"; }

.icon-install:before {
  content: "\e6a7"; }

.icon-cloud:before {
  content: "\e6a8"; }

.icon-upload2:before {
  content: "\e6a9"; }

.icon-bookmark:before {
  content: "\e6aa"; }

.icon-bookmarks:before {
  content: "\e6ab"; }

.icon-book2:before {
  content: "\e6ac"; }

.icon-play:before {
  content: "\e6ad"; }

.icon-pause:before {
  content: "\e6ae"; }

.icon-record:before {
  content: "\e6af"; }

.icon-stop:before {
  content: "\e6b0"; }

.icon-next:before {
  content: "\e6b1"; }

.icon-previous:before {
  content: "\e6b2"; }

.icon-first:before {
  content: "\e6b3"; }

.icon-last:before {
  content: "\e6b4"; }

.icon-resize-enlarge:before {
  content: "\e6b5"; }

.icon-resize-shrink:before {
  content: "\e6b6"; }

.icon-volume:before {
  content: "\e6b7"; }

.icon-sound:before {
  content: "\e6b8"; }

.icon-mute:before {
  content: "\e6b9"; }

.icon-flow-cascade:before {
  content: "\e6ba"; }

.icon-flow-branch:before {
  content: "\e6bb"; }

.icon-flow-tree:before {
  content: "\e6bc"; }

.icon-flow-line:before {
  content: "\e6bd"; }

.icon-flow-parallel:before {
  content: "\e6be"; }

.icon-arrow-left:before {
  content: "\e6bf"; }

.icon-arrow-down:before {
  content: "\e6c0"; }

.icon-arrow-up-upload:before {
  content: "\e6c1"; }

.icon-arrow-right:before {
  content: "\e6c2"; }

.icon-arrow-left2:before {
  content: "\e6c3"; }

.icon-arrow-down2:before {
  content: "\e6c4"; }

.icon-arrow-up:before {
  content: "\e6c5"; }

.icon-arrow-right2:before {
  content: "\e6c6"; }

.icon-arrow-left3:before {
  content: "\e6c7"; }

.icon-arrow-down3:before {
  content: "\e6c8"; }

.icon-arrow-up2:before {
  content: "\e6c9"; }

.icon-arrow-right3:before {
  content: "\e6ca"; }

.icon-arrow-left4:before {
  content: "\e6cb"; }

.icon-arrow-down4:before {
  content: "\e6cc"; }

.icon-arrow-up3:before {
  content: "\e6cd"; }

.icon-arrow-right4:before {
  content: "\e6ce"; }

.icon-arrow-left5:before {
  content: "\e6cf"; }

.icon-arrow-down5:before {
  content: "\e6d0"; }

.icon-arrow-up4:before {
  content: "\e6d1"; }

.icon-arrow-right5:before {
  content: "\e6d2"; }

.icon-arrow-left6:before {
  content: "\e6d3"; }

.icon-arrow-down6:before {
  content: "\e6d4"; }

.icon-arrow-up5:before {
  content: "\e6d5"; }

.icon-arrow-right6:before {
  content: "\e6d6"; }

.icon-arrow-left7:before {
  content: "\e6d7"; }

.icon-arrow-down7:before {
  content: "\e6d8"; }

.icon-arrow-up6:before {
  content: "\e6d9"; }

.icon-uniE6DA:before {
  content: "\e6da"; }

.icon-arrow-left8:before {
  content: "\e6db"; }

.icon-arrow-down8:before {
  content: "\e6dc"; }

.icon-arrow-up7:before {
  content: "\e6dd"; }

.icon-arrow-right7:before {
  content: "\e6de"; }

.icon-menu:before {
  content: "\e6df"; }

.icon-ellipsis:before {
  content: "\e6e0"; }

.icon-dots:before {
  content: "\e6e1"; }

.icon-dot:before {
  content: "\e6e2"; }

.icon-cc:before {
  content: "\e6e3"; }

.icon-cc-by:before {
  content: "\e6e4"; }

.icon-cc-nc:before {
  content: "\e6e5"; }

.icon-cc-nc-eu:before {
  content: "\e6e6"; }

.icon-cc-nc-jp:before {
  content: "\e6e7"; }

.icon-cc-sa:before {
  content: "\e6e8"; }

.icon-cc-nd:before {
  content: "\e6e9"; }

.icon-cc-pd:before {
  content: "\e6ea"; }

.icon-cc-zero:before {
  content: "\e6eb"; }

.icon-cc-share:before {
  content: "\e6ec"; }

.icon-cc-share2:before {
  content: "\e6ed"; }

.icon-danielbruce:before {
  content: "\e6ee"; }

.icon-danielbruce2:before {
  content: "\e6ef"; }

.icon-github:before {
  content: "\e6f0"; }

.icon-github2:before {
  content: "\e6f1"; }

.icon-flickr:before {
  content: "\e6f2"; }

.icon-flickr2:before {
  content: "\e6f3"; }

.icon-vimeo:before {
  content: "\e6f4"; }

.icon-vimeo2:before {
  content: "\e6f5"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-twitter2:before {
  content: "\e6f6"; }

.icon-facebook:before {
  content: "\e603"; }

.icon-facebook2:before {
  content: "\e6f7"; }

.icon-facebook3:before {
  content: "\e6f8"; }

.icon-googleplus:before {
  content: "\e6f9"; }

.icon-googleplus2:before {
  content: "\e6fa"; }

.icon-pinterest:before {
  content: "\e6fb"; }

.icon-pinterest2:before {
  content: "\e6fc"; }

.icon-tumblr:before {
  content: "\e6fd"; }

.icon-tumblr2:before {
  content: "\e6fe"; }

.icon-linkedin:before {
  content: "\e6ff"; }

.icon-linkedin2:before {
  content: "\e700"; }

.icon-dribbble:before {
  content: "\e701"; }

.icon-dribbble2:before {
  content: "\e702"; }

.icon-stumbleupon:before {
  content: "\e703"; }

.icon-stumbleupon2:before {
  content: "\e704"; }

.icon-lastfm:before {
  content: "\e705"; }

.icon-lastfm2:before {
  content: "\e706"; }

.icon-rdio:before {
  content: "\e707"; }

.icon-rdio2:before {
  content: "\e708"; }

.icon-spotify:before {
  content: "\e709"; }

.icon-spotify2:before {
  content: "\e70a"; }

.icon-qq:before {
  content: "\e70b"; }

.icon-instagram:before {
  content: "\e70c"; }

.icon-dropbox:before {
  content: "\e70d"; }

.icon-evernote:before {
  content: "\e70e"; }

.icon-flattr:before {
  content: "\e70f"; }

.icon-skype:before {
  content: "\e710"; }

.icon-skype2:before {
  content: "\e711"; }

.icon-renren:before {
  content: "\e712"; }

.icon-sina-weibo:before {
  content: "\e713"; }

.icon-paypal:before {
  content: "\e714"; }

.icon-picasa:before {
  content: "\e715"; }

.icon-soundcloud:before {
  content: "\e716"; }

.icon-mixi:before {
  content: "\e717"; }

.icon-behance:before {
  content: "\e718"; }

.icon-circles:before {
  content: "\e719"; }

.icon-vk:before {
  content: "\e71a"; }

.icon-smashing:before {
  content: "\e71b"; }

body {
  background: white;
  -webkit-backface-visibility: hidden; }

a {
  color: #00afef;
  text-decoration: none; }

img {
  width: 100%; }

.wrapper {
  display: inline;
  float: left;
  width: 97.9166666667%;
  margin: 0 1.0416666667%; }

.clear {
  clear: both; }

section, footer {
  height: auto;
  min-height: 500px;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1; }
  section .bg, footer .bg {
    width: 100%;
    height: 100%;
    min-height: 700px;
    top: 0;
    left: 0;
    z-index: -1; }
  section .message, footer .message {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    section .message h1, footer .message h1 {
      padding-top: 160px;
      font-weight: 200;
      color: white; }
      section .message h1 span, footer .message h1 span {
        font-size: 52px;
        font-weight: bold;
        display: block; }

input, textarea {
  font-size: 22px;
  padding: 7px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-family: 'Open Sans';
  border-radius: none; }
  input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid white; }
  input .btn-contact, textarea .btn-contact {
    /* border-radius: 50%; */
    font-size: 32px;
    width: 100%;
    padding: 15px 0 20px;
    font-weight: 100;
    font-family: 'Open Sans';
    cursor: pointer; }
  input input:-webkit-autofill, input textarea:-webkit-autofill, input select:-webkit-autofill, textarea input:-webkit-autofill, textarea textarea:-webkit-autofill, textarea select:-webkit-autofill {
    background: #179cba; }
  input ::-webkit-input-placeholder, textarea ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 100; }
  input :-moz-placeholder, textarea :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 100; }
  input ::-moz-placeholder, textarea ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 100; }
  input :-ms-input-placeholder, textarea :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 100; }

@media screen and (min-width: 980px) {
  .wrapper {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.0416666667%;
    margin-left: 9.375%; } }
@media screen and (min-width: 820px) {
  section {
    min-height: 700px;
    height: 100%; } }
header {
  text-align: right;
  display: block;
  height: 180px;
  background: white;
  position: relative;
  width: 100%;
  z-index: 110;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
  header a {
    color: #00afef;
    text-decoration: none;
    padding: 15px;
    font-size: 18px; }
  header .nav-logo {
    display: block;
    float: left;
    width: 100%;
    text-align: center; }
  header video.logo-loop {
    background: #fff !important;
    margin-top: -8px;
    width: 100%;
    max-width: 360px;
    height: auto;
    margin-left: 0;
    margin-right: auto;
    display: block; }
  header body {
    background: #fff; }
  header .logo {
    width: 13em;
    height: 4em;
    animation: bounceIn 1s alternate;
    -webkit-animation: bounceIn 1s alternate;
    -moz-animation: bounceIn 1s alternate;
    -o-animation: bounceIn 1s alternate;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
    cursor: pointer; }
  header .logo:hover {
    transform: rotate(-0.5deg) scale(0.95); }
  header .bubble {
    fill: #00afef; }
  header .type {
    fill: #00afef; }
  header .icon {
    fill: #fff; }
@-webkit-keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3) rotate(-5deg); }
  40% {
    opacity: 1;
    transform: scale(1.05) rotate(-1deg); }
  70% {
    opacity: 1;
    transform: scale(0.9) rotate(-3deg); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@-o-keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3) rotate(-5deg); }
  40% {
    opacity: 1;
    transform: scale(1.05) rotate(-1deg); }
  70% {
    opacity: 1;
    transform: scale(0.9) rotate(-3deg); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@-moz-keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3) rotate(-5deg); }
  40% {
    opacity: 1;
    transform: scale(1.05) rotate(-1deg); }
  70% {
    opacity: 1;
    transform: scale(0.9) rotate(-3deg); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3) rotate(-5deg); }
  40% {
    opacity: 1;
    transform: scale(1.05) rotate(-1deg); }
  70% {
    opacity: 1;
    transform: scale(0.9) rotate(-3deg); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  header nav {
    display: inline;
    float: left;
    width: 97.9166666667%;
    margin: 0 1.0416666667%;
    margin-top: 15px;
    text-align: center; }
  header .social {
    display: inline;
    float: left;
    width: 97.9166666667%;
    margin: 0 1.0416666667%;
    text-align: center; }
    header .social a {
      color: #b8c2d5;
      padding: 15px 10px; }
      header .social a span {
        font-size: 16px; }
  @media screen and (min-width: 820px) {
    header {
      height: 110px;
      position: fixed; }
      header .nav-logo {
        display: inline;
        float: left;
        width: 47.9166666667%;
        margin: 0 1.0416666667%;
        text-align: left; }
      header .social {
        display: inline;
        float: left;
        width: 47.9166666667%;
        margin: 0 1.0416666667%;
        text-align: right;
        margin-top: 15px;
        float: right; }
        header .social a {
          padding: 15px; }
      header nav {
        display: inline;
        float: left;
        width: 47.9166666667%;
        margin: 0 1.0416666667%;
        float: right;
        margin-top: 15px;
        text-align: right; } }

section.home-slider {
  position: relative;
  z-index: 100;
  overflow: hidden;
  background: white; }

div.slider-message {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100; }
  div.slider-message div {
    position: absolute;
    top: 25px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    div.slider-message div h2 {
      color: white;
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 20px;
      line-height: 1;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
      div.slider-message div h2 span {
        display: block;
        font-weight: 900;
        font-size: 35px; }
  div.slider-message a.btn-slider-button {
    color: white;
    border: 1px solid white;
    margin: 25px auto; }

div.home-hero-video div.slider-message div {
  top: 155px; }

.slick-slide img {
  opacity: .4 !important; }

.slick-initialized .slick-slide {
  display: block;
  background: #162c37; }

#video_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2; }

#the_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-image: url(../images/invelop-video-bg.jpg);
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  background-position: center; }

#the_video iframe {
  display: none; }

#video_overlay {
  height: auto;
  margin: auto;
  max-width: 940px;
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99; }

section.home-slider {
  min-height: 225px; }

section.home-lead {
  z-index: 80;
  position: relative;
  background: rgba(227, 231, 238, 0.9);
  text-align: center;
  padding: 40px 0; }
  section.home-lead h1 {
    margin-bottom: 20px;
    font-size: 28px; }
  section.home-lead div {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666667%; }
    section.home-lead div span {
      font-size: 35px;
      color: #162c37; }
    section.home-lead div h3 {
      color: #162c37;
      margin-top: 15px;
      font-size: 16px; }
  section.home-lead p {
    display: inline;
    float: left;
    width: 97.9166666667%;
    margin: 0 1.0416666667%;
    margin-top: 20px;
    font-size: 16px; }

.slick-slider {
  margin-bottom: 0; }

@media screen and (min-width: 820px) {
  section.hero-home {
    min-height: 900px; }

  div.slider-message div {
    top: 260px; }
    div.slider-message div h2 {
      font-size: 42px; }
      div.slider-message div h2 span {
        font-size: 62px; }

  div.home-hero-video div.slider-message div {
    top: 360px; }

  section.home-lead {
    padding: 80px 0; }
    section.home-lead h1 {
      margin-bottom: 40px;
      font-size: 32px; }
    section.home-lead article {
      display: inline;
      float: left;
      width: 81.25%;
      margin: 0 1.0416666667%;
      margin-left: 9.375%; }
    section.home-lead div {
      display: inline;
      float: left;
      width: 22.9166666667%;
      margin: 0 1.0416666667%; }
      section.home-lead div span {
        font-size: 65px; }
      section.home-lead div h3 {
        font-size: 20px; }
    section.home-lead .alpha {
      margin-left: 13.5416666667%; }
    section.home-lead p {
      display: inline;
      float: left;
      width: 70.8333333333%;
      margin: 0 1.0416666667%;
      margin-left: 13.5416666667%;
      margin-top: 30px;
      font-size: 18px; }

  section.home-slider {
    height: 900px; }

  #the_video iframe {
    display: inherit; }

  .slick-slider {
    margin-bottom: 30px;
    height: 100%; } }
section.services {
  padding-top: 50px;
  background: #f3f5f8 url(../images/bg-grey.jpg) repeat;
  text-align: center;
  color: white;
  float: left; }
  section.services h1 {
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 42px; }
  section.services .alpha {
    display: inline;
    float: left;
    width: 89.5833333333%;
    margin: 0 1.0416666667%;
    margin-left: 5.2083333333%; }
    section.services .alpha p {
      text-align: left; }
  section.services .highlight-dark {
    margin-top: 50px;
    padding: 40px 0;
    text-align: center;
    font-size: 52px;
    font-weight: 100;
    background: #162c37;
    color: white;
    float: left;
    width: 100%; }
  @media screen and (min-width: 820px) {
    section.services {
      padding-top: 160px; }
      section.services .alpha {
        display: inline;
        float: left;
        width: 64.5833333333%;
        margin: 0 1.0416666667%;
        margin-left: 17.7083333333%; }
      section.services .featured-project {
        width: 33.333%; }
      section.services .featured-project h3 {
        font-size: 32px;
        line-height: 35px; } }

section.services-subpages .wrapper {
  margin-bottom: 40px; }
section.services-subpages .gamma {
  padding: 30px 20px;
  background: url(../images/bg-grey.jpg) repeat;
  color: white;
  text-align: center;
  margin-bottom: 20px; }
  section.services-subpages .gamma h3 {
    font-weight: 100; }
  section.services-subpages .gamma h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1; }
section.services-subpages .alpha {
  display: inline;
  float: left;
  width: 97.9166666667%;
  margin: 0 1.0416666667%; }
section.services-subpages menu {
  display: inline;
  float: left;
  width: 97.9166666667%;
  margin: 0 1.0416666667%;
  border-top: 1px solid #e3e7ee;
  padding-top: 20px; }
@media screen and (min-width: 820px) {
  section.services-subpages .gamma {
    padding: 60px;
    margin-bottom: 40px; }
    section.services-subpages .gamma h3 {
      margin-top: 100px; }
    section.services-subpages .gamma h1 {
      font-size: 50px; }
  section.services-subpages .alpha {
    display: inline;
    float: left;
    width: 72.9166666667%;
    margin: 0 1.0416666667%;
    border-right: 1px solid #e3e7ee;
    padding-right: 9.375%; }
  section.services-subpages menu {
    display: inline;
    float: left;
    width: 22.9166666667%;
    margin: 0 1.0416666667%;
    border-top: none;
    padding-top: 0; } }

section.threed-showcase {
  text-align: center;
  z-index: 30;
  position: relative;
  background: #162c37;
  padding: 60px 0;
  float: left; }
  section.threed-showcase article {
    display: inline;
    float: left;
    width: 81.25%;
    margin: 0 1.0416666667%;
    margin: 0;
    margin-left: 9.375%;
    margin-right: 9.375%; }
    section.threed-showcase article div {
      width: 100%; }
      section.threed-showcase article div iframe {
        height: 250px; }
  section.threed-showcase h2 {
    color: white;
    font-size: 32px;
    font-weight: 900;
    margin: 20px 0 40px; }
  section.threed-showcase .threed-message {
    display: inline;
    float: left;
    width: 97.9166666667%;
    margin: 0 1.0416666667%;
    color: white; }

@media screen and (min-width: 520px) {
  section.threed-showcase article div iframe {
    height: 520px; } }
@media screen and (min-width: 1020px) {
  section.threed-showcase article {
    display: inline;
    float: left;
    width: 64.5833333333%;
    margin: 0 1.0416666667%;
    margin-left: 17.7083333333%;
    margin-right: 17.7083333333%; }
    section.threed-showcase article div iframe {
      height: 620px; }
  section.threed-showcase .threed-message {
    display: inline;
    float: left;
    width: 47.9166666667%;
    margin: 0 1.0416666667%;
    margin-left: 26.0416666667%;
    margin-right: 26.0416666667%;
    margin-top: 40px; } }
footer {
  text-align: left;
  z-index: 20;
  min-height: inherit;
  position: relative;
  float: left;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
  footer nav {
    margin-top: 0; }
  footer .alpha {
    display: inline;
    float: left;
    width: 39.5833333333%;
    margin: 0 1.0416666667%;
    text-align: left;
    padding-top: 40px; }
  footer .beta {
    display: inline;
    float: left;
    width: 56.25%;
    margin: 0 1.0416666667%;
    padding-top: 40px;
    text-align: right; }
  footer .gamma {
    display: inline;
    float: left;
    width: 14.5833333333%;
    margin: 0 1.0416666667%;
    padding-top: 40px; }
    footer .gamma .btn {
      text-align: center;
      margin-top: 5px;
      display: block; }
  footer .footer-bottom {
    width: 100%;
    float: left;
    padding-top: 20px;
    background: white; }
    footer .footer-bottom p {
      text-align: center;
      font-size: 12px; }
  footer .email-signup {
    background: #e3e7ee;
    width: 100%;
    float: left;
    padding: 50px 0;
    text-align: center; }
    footer .email-signup .icon-mail {
      font-size: 24px;
      color: #0e79a0; }
    footer .email-signup input {
      display: inline;
      float: left;
      width: 89.5833333333%;
      margin: 0 1.0416666667%;
      margin-left: 5.2083333333%;
      margin-top: 20px;
      text-align: center;
      font-size: 18px;
      border-color: #b8c2d5;
      color: #162c37; }
    footer .email-signup .btn {
      display: inline;
      float: left;
      width: 89.5833333333%;
      margin: 0 1.0416666667%;
      margin: 15px;
      margin-left: 5.2083333333%;
      margin-right: 5.2083333333%;
      background: #0e79a0;
      color: white; }
      footer .email-signup .btn:hover {
        background: #162c37; }
    footer .email-signup p {
      margin: 15px 0 0;
      font-size: 14px;
      font-style: italic;
      color: #b8c2d5; }
    footer .email-signup ::-webkit-input-placeholder {
      color: #b8c2d5;
      font-weight: 100; }
    footer .email-signup :-moz-placeholder {
      /* Firefox 18- */
      color: #b8c2d5;
      font-weight: 100; }
    footer .email-signup ::-moz-placeholder {
      /* Firefox 19+ */
      color: #b8c2d5;
      font-weight: 100; }
    footer .email-signup :-ms-input-placeholder {
      color: #b8c2d5;
      font-weight: 100; }
  @media screen and (min-width: 820px) {
    footer .email-signup input {
      display: inline;
      float: left;
      width: 47.9166666667%;
      margin: 0 1.0416666667%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      margin-bottom: 15px; }
    footer .email-signup .btn {
      width: 150px;
      float: none; } }

section.about .alpha {
  text-align: center;
  margin-bottom: 40px;
  background-image: linear-gradient(to bottom, rgba(22, 44, 55, 0), rgba(22, 44, 55, 0.6)), url(../images/101H.jpg);
  background-size: cover;
  color: white;
  padding: 100px 0; }
  section.about .alpha h1 {
    font-weight: 100;
    font-size: 32px;
    line-height: 1;
    text-shadow: 0 2px 5px #162c37; }
    section.about .alpha h1 span {
      font-weight: 900;
      display: block; }
section.about .gamma {
  display: inline;
  float: left;
  width: 89.5833333333%;
  margin: 0 1.0416666667%;
  margin-left: 5.2083333333%;
  margin-right: 5.2083333333%;
  margin-bottom: 40px; }
  section.about .gamma ul {
    list-style: inherit;
    padding-left: 35px;
    margin-bottom: 20px; }
    section.about .gamma ul li {
      padding-left: 2px; }
section.about p {
  font-size: 16px;
  line-height: 24px; }
@media screen and (min-width: 820px) {
  section.about {
    padding-top: 110px; }
    section.about .alpha h1 {
      font-size: 52px; }
    section.about .gamma {
      display: inline;
      float: left;
      width: 64.5833333333%;
      margin: 0 1.0416666667%;
      margin-left: 17.7083333333%;
      margin-bottom: 40px; } }

section.contact-form {
  display: inline;
  float: left;
  width: 89.5833333333%;
  margin: 0 1.0416666667%;
  margin: 6%;
  margin-left: 3.125%;
  margin-right: 3.125%; }
  section.contact-form h2 {
    font-size: 32px;
    font-weight: 100;
    color: white; }
  section.contact-form .field-wrapper {
    position: relative;
    margin-bottom: 40px; }
  section.contact-form .contact-phone {
    margin-bottom: 20px;
    color: white;
    font-size: 22px; }
  section.contact-form label {
    position: absolute;
    top: -13px;
    left: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.1s linear;
    opacity: 0;
    font-weight: 100; }
  section.contact-form label.on {
    color: white; }
  section.contact-form label.show {
    top: -18px;
    opacity: 1; }
  section.contact-form button.submit-button {
    background-color: #62bd17;
    border-color: #0e79a0;
    padding: 20px 20px 30px;
    display: inline;
    font-size: 32px;
    color: white;
    width: 100%;
    border: none;
    border-bottom: 3px solid #00afef;
    font-family: 'Open Sans';
    font-weight: 200; }
    section.contact-form button.submit-button span {
      margin-right: 5px; }
  @media screen and (min-width: 820px) {
    section.contact-form {
      display: inline;
      float: left;
      width: 47.9166666667%;
      margin: 0 1.0416666667%;
      margin-left: 13.5416666667%;
      margin-right: 13.5416666667%; }
      section.contact-form h2 {
        font-size: 52px; } }
